/* eslint no-use-before-define: 0 */
"extends": "airbnb"
root: true
"rules": { "react/jsx-filename-extension": [0],
            "import/extensions": "off",
             "import/prefer-default-export": "off"
         
         }
